In [1]:
from pymongo import MongoClient
import pandas as pd

# Set up the MongoDB client
client = MongoClient("mongodb+srv://christianfrago:DEAg7GDzHKQLUdeq@xtian.nbn4vd4.mongodb.net/?retryWrites=true&w=majority")
db = client.Diabetes

# Query the collection
collection = db.Diabetes
results = collection.find()

# Convert the query results to a pandas DataFrame
df = pd.DataFrame(list(results))

# Display the query results in a table
df.head()

,_id,index,preg,plas,pres,skin,test,mass,pedi,age,class
0,6431e88dd6acebe490d5f908,0,6,148,72,35,0,33.6,0.627,50,1
1,6431e88dd6acebe490d5f909,1,1,85,66,29,0,26.6,0.351,31,0
2,6431e88dd6acebe490d5f90a,2,8,183,64,0,0,23.3,0.672,32,1
3,6431e88dd6acebe490d5f90b,3,1,89,66,23,94,28.1,0.167,21,0
4,6431e88dd6acebe490d5f90c,4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
import pymongo

# Set the MongoDB connection parameters
client = pymongo.MongoClient("mongodb+srv://christianfrago:DEAg7GDzHKQLUdeq@xtian.nbn4vd4.mongodb.net/?retryWrites=true&w=majority")

# Connect to the MongoDB server
try:
    client.server_info()
    print("Connected to MongoDB")
except pymongo.errors.ServerSelectionTimeoutError as err:
    print(f"Connection error: {err}")